<section id="card-details">
  <h3>{{$ctrl.details.name}}</h3>
  <img src="{{$ctrl.details.imageUrl}}">
  <article>
    <div id="mana" ng-repeat="icon in $ctrl.details.manaCost | mana track by $index">
      <span class={{icon}}></span>
    </div>
    <div class="clear-fix"></div>
    <h4>Set:</h4>
    <p>{{$ctrl.details.setName}}</p>
    <h4>Type:</h4>
    <p>{{$ctrl.details.type}}</p>
    <h4>Rarity:</h4>
    <p>{{$ctrl.details.rarity}}</p>
    <h4>Card Text:</h4>
    <p>{{$ctrl.details.text}}</p>
    <div>
      <h4>Legality:</h4>
      <p ng-repeat="use in $ctrl.details.legalities">{{use.format}}: {{use.legality}}</p>
    </div>
    <h4>Rulings:</h4>
    <details>
      <summary>Show Rulings</summary>
      <p ng-repeat="rule in $ctrl.details.rulings">{{rule.text}}</p>
    </details>
  </article>
</section>
