main {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 12.5%;
}

section {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  main {
    max-width: 960px;
    margin-top: 25%
  }
}

@media only screen and (min-width: 900px) {
  main {
    max-width: 960px;
    margin: 250px auto 12.5% auto;
  }
}
