#login {
  form {
    input {
      margin-bottom: 2%;
    }

    .btn-group {
      width: 40%;
      margin: 0 auto;
      button {
        float: left;
      }

      button:last-of-type {
        margin-left: 2%;
      }
    }
  }
}
